---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=1.3025993,103.8638169&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"15-505\",\n               \"short_name\"
        : \"15-505\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Beach Road\",\n               \"short_name\"
        : \"Beach Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"SG\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"15-505 Beach Road, Singapore\",\n
        \        \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 1.3028696,\n                  \"lng\" : 103.8642793\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 1.3019542,\n                  \"lng\" : 103.8628303\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 1.3025993,\n
        \              \"lng\" : 103.8638169\n            },\n            \"location_type\"
        : \"RANGE_INTERPOLATED\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 1.303760880291502,\n                  \"lng\"
        : 103.8649037802915\n               },\n               \"southwest\" : {\n
        \                 \"lat\" : 1.301062919708498,\n                  \"lng\"
        : 103.8622058197085\n               }\n            }\n         },\n         \"types\"
        : [ \"street_address\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n        [...]
[...]
