---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Lorong%2027%20Geylang%20%2302-01%20%20%20Singapore%20%20388199%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10\",\n               \"short_name\"
        : \"10\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lorong 27 Geylang\",\n               \"short_name\"
        : \"Lor 27 Geylang\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"Singapore\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Singapore\",\n
        \              \"short_name\" : \"SG\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"388199\",\n               \"short_name\" : \"388199\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"10 Lorong 27 Geylang, Singapore 388199\",\n         \"geometry\" : {\n
        \           \"location\" : {\n               \"lat\" : 1.3146203,\n               \"lng\"
        : 103.8839036\n            },\n            \"location_type\" : \"ROOFTOP\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 1.315969280291502,\n                  \"lng\" : 103.8852525802915\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 1.313271319708498,\n
        \                 \"lng\" : 103.8825546197085\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 30 Oct 2013 05:50:35 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6001%20Beach%20Road%20%20%20%20Singapore%20%20199589%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n  [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=15%20Ghim%20Moh%20Road%20%2302-31%20%20%20Singapore%20%20270015%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n[...]
[...]
