---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=1.31348,103.883756&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lorong 27 Geylang\",\n               \"short_name\"
        : \"Lor 27 Geylang\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"Singapore\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Singapore\",\n
        \              \"short_name\" : \"SG\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"388153\",\n               \"short_name\" : \"388153\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"1 Lorong 27 Geylang, Singapore 388153\",\n         \"geometry\" : {\n
        \           \"location\" : {\n               \"lat\" : 1.31348,\n               \"lng\"
        : 103.883756\n            },\n            \"location_type\" : \"ROOFTOP\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 1.314828980291502,\n                  \"lng\" : 103.8851049802915\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 1.312131019708498,\n
        \                 \"lng\" : 103.8824070197085\n               }\n            }\n
        \        },\n         \"types\" : [ \"street_address\" ]\n      },\n      {\n
        \        \"address_components\" : [\n            {\n               \"long_name\"
        : \"388153\",\n               \"short_name\" : \"388153\",\n               \"types\"
        : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\"[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=1.3146203,103.883756&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10-40\",\n               \"short_name\"
        : \"10-40\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lorong 27 Geylang\",\n               \"short_name\"
        : \"Lor 27 Geylang\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"SG\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"10-40 Lorong 27 Geylang, Singapore\",\n
        \        \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 1.315297,\n                  \"lng\" : 103.8837578\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 1.3138599,\n                  \"lng\" : 103.8837269\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 1.3146204,\n
        \              \"lng\" : 103.8837599\n            },\n            \"location_type\"
        : \"RANGE_IN[...]
[...]
