---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Geylang%20Lorong%2027%20%2302-01%20%20%20%20Singapore%20%20388199%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lorong 27 Geylang\",\n               \"short_name\"
        : \"Lor 27 Geylang\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"Singapore\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Singapore\",\n
        \              \"short_name\" : \"SG\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"388153\",\n               \"short_name\" : \"388153\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"1 Lorong 27 Geylang, Singapore 388153\",\n         \"geometry\" : {\n
        \           \"location\" : {\n               \"lat\" : 1.31348,\n               \"lng\"
        : 103.883756\n            },\n            \"location_type\" : \"ROOFTOP\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 1.314828980291502,\n                  \"lng\" : 103.8851049802915\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 1.312131019708498,\n
        \                 \"lng\" : 103.8824070197085\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      },\n      {\n         \"address_components\" : [\n            {\n
        \              \"long_name\" : \"1A\",\n               \"short_name\" : \"1A\",\n
        \              \"types\" : [ \"street_number\" ]\n            },\n            {\n
        \              \"long_name\" : \"Lorong 27 Geylang\",\n               \"short_name\"
        : \"Lor 27 Geylang\",\n               \"types\" : [ \"route\" ]\n            },\n
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20%20%20%20Singapore%20%20388199%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_c[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%20%20%20%20Singapore%20%20388199%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_co[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Lorong%2027%20Geylang%20%2302-01%20%20%20Singapore%20%20388199%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" :[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Lorong%2027%20Geylang%20%2302-01%20%20%20Singapore%20%20388199%20Singapore&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"resu[...]
