---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=15%20Ghim%20Moh%20Road%20%2302-31%20%20%20%20Singapore%20%20270015%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"15\",\n               \"short_name\"
        : \"15\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Ghim Moh Road\",\n               \"short_name\"
        : \"Ghim Moh Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"Singapore\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Singapore\",\n
        \              \"short_name\" : \"SG\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"270015\",\n               \"short_name\" : \"270015\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"15 Ghim Moh Road, Singapore 270015\",\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : 1.309118,\n               \"lng\" : 103.788369\n
        \           },\n            \"location_type\" : \"ROOFTOP\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 1.310466980291502,\n
        \                 \"lng\" : 103.7897179802915\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 1.307769019708498,\n                  \"lng\"
        : 103.7870200197085\n               }\n            }\n         },\n         \"partial_match\"
        : true,\n         \"types\" : [ \"street_address\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
  recorded_at: Wed, 30 Oct 2013 05:00:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=15%20Ghim%20Moh%20Road%20%2302-31%20%20%20Singapore%20%20270015%20SG&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=15%20Ghim%20Moh%20Road%20%2302-31%20%20%20Singapore%20%20270015%20Singapore&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\[...]
