---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=1.309118,103.788369&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"15\",\n               \"short_name\"
        : \"15\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Ghim Moh Road\",\n               \"short_name\"
        : \"Ghim Moh Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Singapore\",\n               \"short_name\"
        : \"Singapore\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Singapore\",\n
        \              \"short_name\" : \"SG\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"270015\",\n               \"short_name\" : \"270015\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"15 Ghim Moh Road, Singapore 270015\",\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : 1.309118,\n               \"lng\" : 103.788369\n
        \           },\n            \"location_type\" : \"ROOFTOP\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 1.310466980291502,\n
        \                 \"lng\" : 103.7897179802915\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 1.307769019708498,\n                  \"lng\"
        : 103.7870200197085\n               }\n            }\n         },\n         \"types\"
        : [ \"street_address\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n               \"long_name\" : \"270015\",\n               \"short_name\"
        : \"270015\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" :[...]
