---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=43.098901,-77.44318799999999&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"16\",\n               \"short_name\"
        : \"16\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"West Church Street\",\n               \"short_name\"
        : \"W Church St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Fairport\",\n               \"short_name\"
        : \"Fairport\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Perinto[...]
